/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222222;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #111111;
}

/* width */
::-moz-scrollbar {
  width: 4px;
  height: 4px;
}

/* Handle */
::-moz-scrollbar-thumb {
  background: #222222;
}

/* Handle on hover */
::-moz-scrollbar-thumb:hover {
  background: #111111;
}

.backdrop-title {
  font-size: 5rem;
}
